<% provide(:title, 'About Page') %>
<% content_for :head do%>
  <!-- <meta name="description" content="about description"> -->
  <!-- <meta name="keywords" content="about keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<h1>Hello About</h1>
<a href="/">Home</a>
